<div class="well auth-forms-wrapper">
  <h2>Пользователь</h2>
  <dl>
    <dt>Имя пользователя</dt>
    <dd><%= @user.name %></dd>
    
    <dt>Электронная почта</dt>
    <dd><%= @user.email if @user.email %></dd>
  </dl>
</div>
