/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
body {
  padding-top: 80px;
}


dl {
  dd {
    margin-left: 0;
  }
}

.auth-forms-wrapper {
  margin: 20px auto 40px;
  max-width: 600px;
  
  h2 {
    margin-top: 0;
  }
  
  form {
    label {
      abbr {
        border-bottom: none;
        float: right;
        margin-left: .25em;
      }
    }
    
    .has-error {
      .help-inline.error {
        color: #b94a48;
      }
    }
    
    .form-group {
      .checkbox {
        label {
          .form-control {
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
  
  .auth-forms-links {
    span {
      &:after {
        content: ' ·';
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}

.modal-content .modal-footer {
  text-align: left;
}