<%# navigation styled for Twitter Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <%= link_to 'Главная', root_path, class: 'navbar-brand' %>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
